<div class="brand_area d-flex flex-column mt-2 mb-1 ml-5 text-center">
    <h1 class="pato-h1 brand-pato-color">Pato</h1>
    <span class="brand_logo ml-1 mt-2">@PatoFinalProject.Resource.Restaurant</span>
</div>
