
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div class="main">

        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <!-- OVERVIEW -->
               
                <!-- END OVERVIEW -->

                <div class="row">
                   <div class="col-12">
                       <label>Input</label>
                       <input type="text" />
                   </div>
                </div>
                
                


            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>

