@model PatoFinalProject.Areas.ViewModel.SpecialSignUpVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- MAIN CONTENT -->
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">

            <div class="row mt-5">
                <div class="col-12">
                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Email</th>
                                <th scope="col">Delete</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.specialSignUpsList)
                            {
                                <tr>
                                    <td>@item.Email</td>
                                    <td><a href=@Url.Action("Delete","SpecialSignUpCon",new { id=item.Id}) class="btn btn-info">Delete</a></td>
                                </tr>
                            }
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*@section CKEditor{


            <script  src="~/ckeditor/ckeditor.js"></script>

            <script async>
                CKEDITOR.replace('romantic.Content');
            </script>
        }*@


